<div ng-show="beat.reporters.length">
  <div class="col-md-12">
    <h3>Search Reporters</h3>
    <form class="form-inline" role="form">
      <div>
        <input ng-model="query" type="text" class="form-control" placeholder="Search">
      </div>
    </form>
  </div>
</div>

<div class="col-md-12">
  <h3 ng-show="beat.reporters.length && filtered.length">Reporters for {{beat.name}}</h3>
  <h3 ng-show="beat.reporters.length && !filtered.length">Sorry, no matches</h3>
  <ul ng-repeat="item in filtered = (beat.reporters | filter:query)">
    <li>
      <span ng-click="showAll = true" ng-hide="showAll">
        {{item.name}}
      </span>
      <button ng-click="editing = true" ng-hide="editing; showAll" class="btn btn-sm btn-warning">Edit</button>

      <form ng-submit="editReporter(item.id); editing = false" ng-show="editing" class="form-inline">
        <input type="number" ng-model="reporterTenure" placeholder="Years of Service">
        <input type="text" ng-model="reporterBirthday" placeholder="Birthday">
        <button type="submit" class="btn btn-sm btn-warning">Save</button>
      </form>
      <span class="form-group" ng-show="showAll">
        <ul>

          <li> Tenure: {{ item.tenure }} </li>
          <li> Birthday: {{ item.birthday }} </li><br>
          <button class="btn btn-sm btn-warning" ng-click="showAll = false">Close</button>
        </ul>
      </span>

    </li>
  </ul>
</div>

<div class="col-md-12">
  <h3>Add a reporter to {{beat.name}}</h3>
  <form ng-submit="addReporter()" class="form-inline">
    <div class="form-group">
      <input type="text" ng-model="reporterName" placeholder="Enter Name">
    </div>
    <button type="submit" class="btn btn-sm btn-warning">Submit</button>
    <button type="button"  class="btn btn-sm btn-warning" value="Back" onClick="history.go(-1);">Back</button>
  </form>
</div>
