<div ui-view>
  <h2>Newspaper Beats</h2>
<div ng-show="beats.length">
  <div class="col-md-6">
    <h3>Search Beats</h3>
    <form class="form-inline" role="form">
      <div>
        <input ng-model="query" type="text" class="form-control" placeholder="Search">
      </div>
    </form>
  </div>
</div>

<div>
  <h3 ng-show="beats.length && filtered.length">Beats:</h3>
  <!-- <h3 ng-show="beats.length && !filtered.length"> No Results </h3> -->
  <ul>
    <li ng-repeat="item in filtered = (beats | filter:query)">
      <a ui-sref="beats.reporters({ beatId: item.id })">{{ item.name }}</a>
      <button ng-click="editing = true" ng-hide="editing" class="btn btn-sm btn-warning">Edit</button>
      <span class="form-group" ng-show="editing" ng-submit="editing = false">
        <form class="form-inline" role="form">
          <input type="text" class="form-control input-sm" ng-model="item.name" placeholder="Name" required/>
          <button type="submit" class="btn btn-success btn-sm">Save</button>
        </form>
      </span>
    </li>
  </ul>
</div>

  <div class="col-md-6">
    <form ng-submit="BeatsFactory.addBeat()" class="form-inline">
      <div class="form-group">
        <input type="text" ng-model="BeatsFactory.beatName" placeholder="Enter the Beat">
      </div>
      <button type="submit" class="btn btn-sm btn-warning">Post Beat</button>
    </form>
  </div>
</div>
